# Process the data

In [95]:
import pandas as pd

## Study 1

In [96]:
study1 = pd.read_csv("study1_processed.csv")          

# recode sex as a meaningful factor name
study1['sex'] = study1['sex'].map({1: 'female', 2: 'male'})

# calculate BMI
study1["BMI"] = study1["weight_kg"] / (study1["height_meters"]**2)

# calculate waist / height
study1["WHtR"] = study1["waist_meters"] / study1["height_meters"]

# calculate average subjectiuve hunger score across the 15 questions
hunger = study1.loc[:,study1.columns.str.startswith("hunger")]
study1["subjective_hunger"] = hunger.mean(axis=1)
# drop the raw hunger scores
study1 = study1.loc[:,~study1.columns.str.startswith('hunger')]

# drop other columns
study1 = study1.drop(["StartDate", "CompletionDate"], axis=1)

In [97]:
study1.head()

,URN,consent,age,sex,MCQ1,MCQ2,MCQ3,MCQ4,MCQ5,MCQ6,...,FCQ25,FCQ26,FCQ27,food,height_meters,weight_kg,waist_meters,BMI,WHtR,subjective_hunger
0,550455-550446-53904018,1,29,female,1,2,1,2,2,1,...,1,1,1,Chocolate,1.68,75.00,0.76,26.573129,0.452381,2.066667
1,550455-550446-53903992,1,21,female,1,2,1,2,2,1,...,2,1,1,Pizza,1.65,82.55,0.76,30.321396,0.460606,2.000000
2,550455-550446-53904586,1,56,female,1,1,1,1,1,1,...,1,1,1,Sweet things,1.63,57.15,0.71,21.510030,0.435583,1.333333
3,550455-550446-53904603,1,22,female,1,1,1,2,1,1,...,1,1,2,Doughnuts,1.68,68.49,0.30,24.266582,0.178571,3.400000
4,550455-550446-53905774,1,22,female,1,1,1,2,1,1,...,1,1,2,Pizza,1.56,82.20,0.81,33.777120,0.519231,3.866667

In [98]:
study1.to_csv("study1_processed.csv", index=False)

## Study 2

In [108]:
study2 = pd.read_csv("study2_processed.csv")   

# recode sex as a meaningful factor name
study2['sex'] = study2['sex'].map({1: 'male', 2: 'female'})  # NOTE: different from study 1

# calculate BMI
study2["BMI"] = study2["weight_kg"] / (study2["height_meters"]**2)

# calculate waist / height
study2["WHtR"] = study2["waist_meters"] / study2["height_meters"]

# calculate average subjectiuve hunger score across the 15 questions
hunger = study2.loc[:,study2.columns.str.startswith("hunger")]
study2["subjective_hunger"] = hunger.mean(axis=1)
# drop the raw hunger scores
study2 = study2.loc[:,~study2.columns.str.startswith('hunger')]

# drop other columns
study2 = study2.drop(["StartDate", "CompletionDate"], axis=1)

In [109]:
study2.head()

,URN,age,sex,WCQ1,WCQ2,WCQ3,WCQ4,WCQ5,WCQ6,WCQ7,...,FCQ25,FCQ26,FCQ27,food,height_meters,weight_kg,waist_meters,BMI,WHtR,subjective_hunger
0,542031-542022-53955464,21,female,1,2,1,1,1,2,1,...,2,2,2,Pizza,1.60,59.0,0.71,23.046875,0.443750,2.933333
1,542031-542022-53955477,20,female,1,2,2,2,2,2,2,...,1,1,1,Pizza it would go cold if u didnâ€™t eat it imme...,1.60,108.0,0.86,42.187500,0.537500,4.666667
2,542031-542022-53955913,23,female,2,2,2,1,2,1,1,...,1,2,1,Nuggets,1.60,95.0,0.91,37.109375,0.568750,2.800000
3,542031-542022-53955858,28,female,2,2,2,2,2,2,2,...,1,1,1,Snacks,1.62,95.0,0.97,36.198750,0.598765,3.800000
4,542031-542022-53956174,23,male,1,2,1,1,1,2,1,...,2,2,2,Pizza,1.75,77.0,0.76,25.142857,0.434286,3.600000

In [110]:
study2.to_csv("study2_processed.csv", index=False)